[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
hassil = "*"
home-assistant-intents = "*"
mutagen = "*"
ha-ffmpeg = "*"
pymicro-vad = "*"
pyspeex-noise = "*"
langfuse = "==2.59.3"
litellm = "==1.67.2"

[dev-packages]
pytest = "*"
pytest-homeassistant-custom-component = "*"
pytest-cov = "*"
pytest-asyncio = "*"
homeassistant = "2025.8.0b5"
python-dotenv = "*"
pyobjc = {version = "*", sys_platform = "== 'darwin'"}
dbus-fast = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
